<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Spring Security入门</title>
<script type="text/javascript" src="${basePath}/static/js/jquery.min.js"></script>
<link href="${basePath}/static/css/comm.css" rel="stylesheet" style="text/css" />  
<script type="text/javascript">
var root = "${basePath}";
function oncl() {
	 $.ajax({
         type: "get",
         url: root + "/query/19.json",
         contentType: "application/json; charset=utf-8",
         success: function(data){
        	 console.log(data);
        	 $("#divdata").html(data.id + "---" + data.name + "----" + data.logName + "----" + data.userPassword);
         }
     });
}
</script>
</head>
<body>
	<h1>欢迎使用Spring Security!</h1>
	<p>
		点击 <a href="${basePath}/queryid/20.html">查询</a> 打个招呼吧<br/>
		点击 <a href="${basePath}/imodel.html">插入</a> 打个招呼吧<br/>
		点击 <a href="${basePath}/update.html">更新</a> 打个招呼吧<br/>
		点击 <a href="${basePath}/delete/19.html">删除</a> 打个招呼吧<br/>
		<button onclick="oncl()" value="点我吧">点我吧</button>
		
	</p>
	<p id="divdata"></p>
</body>
</html>
