<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
<script type="text/javascript" src="${basePath}/static/js/jquery.min.js"></script>
<link href="${basePath}/static/css/comm.css" rel="stylesheet" style="text/css" /> 
</head>
<body>
	<form th:action="${basePath}/login" method="post">
		<div>
			<label> 用户名 : <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> 密 码 : <input type="password" name="password" />
			</label>
		</div>
		<div>
			<label> 密验证码 : <input type="validateCode" name="validateCode" />
			</label>
		</div>
		<div>
			<label> <img alt="验证码" src="${basePath}/kaptcha/getKaptchaImage.json">
			</label>
		</div>
		<div>
			<input type="submit" value="登录" />
		</div>
		
	</form>
	<div ><#if SPRING_SECURITY_LAST_EXCEPTION?? >
                      ${SPRING_SECURITY_LAST_EXCEPTION.message}
                      </#if></div>
</body>
</html>
